.page-content{
  .retry-txt{
    color: #eb6868;
    font-size: 5em;
    position: absolute;
    top: 0;
    right: 14px;
  }
  .no-desc{
    z-index: 99;
    position: absolute;
    top: 0;
    color: #FFF;
    height: 695px;
    margin-top: 151px;
    text-align: center;
    .content{
      font-size: 1.5em;
      padding:24% 25% 0%;
      text-align: center;
    }
    .continue-btn{
      text-align: center;
      padding:34px 0px;
    }
  }
}
