<div class="container-fluid noPadding main-container landing-page-container">
  <div class="imageContainer">
    <div class="appName">
      <h5>the resuscitation council uk present </h5>
      <h2>Educational Interview</h2>
      <h4>An Interactive film by shubhram</h4>
    </div>
    
    <!--<img src="./assets/images/homebg.png" class="bg-img" /> -->
  </div>
   
  <div class="row content buttonWrapper"> 
    <div class="checkbox">
      <label><input type="checkbox" value="" [(ngModel)]="filterBool" (click)="filterData()">{{checkboxesData}}</label>
    </div>  
    <button (click)="onEnterButtonClick()" [ngClass]='{disabled: !filterBool}' [disabled]="!filterBool"><i class="fa fa-chevron-right fa-1" aria-hidden="true"></i>ENTER</button>
  </div>
</div>
