@import '../../../scss/variables.scss';
@import '../../../scss/mixins.scss';

.header{
  padding:10px 5px;
  .heading{
    font-size: 27px;
    color: #FFF;
    span{
      color: #bd5757;
    }
  }
  .header-right-menu{
    list-style: none;
    float: left;
    color: #FFF;
    margin:0;
    padding:0;
    font-weight: 600;
    font-size: 12px;
    margin-right: 6px;
    li{
      float: left;
      cursor: pointer;
    }
  }
}
.mid-content {
  .page-content{
    width: 100%;
    height: auto;
    position: relative;
  }
}
.footer{
  padding:15px 5px;
  z-index: 100;
  position: absolute;
  width:100%;
  .home-menu{
    position: absolute;
    z-index: 100;
    color: #FFF;
    bottom: 62px;
    left: 6px;
    width: 100%;
    margin:-7px;
    .sub-menu{
      border: 1px dotted #000;
      height: 160px;
      background: transparent;
      .bg-img{
        width:100%;
        height:auto;
        opacity:1;
      }
      .content{
        z-index: 100;
        height:auto;
        width:90%;
        position: absolute;
        top:0;
        left: 0;
        color: #FFF;
        .heading{
          text-align: right;
          color: #bd5757;
          font-weight: 800;
          font-size: 20px;
        }

        .buttonWrapper{
          text-align: right;
          margin-top: 89px;
          font-size: 20px;
          button{
            height: 39px;
            width: 42%;
            background: rgba(0,0,0,0.5);
            border: 1px solid #cccbcb;
            font-size: 20px;
            i {
              position: relative;
              -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
              -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
              -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
              animation-name: example;
              animation-duration: 3s;
              animation-iteration-count: infinite;
            }

            /* Safari 4.0 - 8.0 */
            @-webkit-keyframes example {
              0%   {left:-20px; top:0px;}
              50%  { left:-5px; top:0px;}
              100% {left:-20px; top:0px;}
            }

            /* Standard syntax */
            @keyframes example {
              0%   { left:-20px; top:0px;}
              50%  { left:-5px; top:0px;}
              100%  { left:-20px; top:0px;}
            }
          }
        }
      }
    }
  }

  .right-menu{
    list-style: none;
    float: left;
    color: #FFF;
    margin:0;
    padding:0;
    font-weight: 600;
    font-size: 12px;
    margin-right: 6px;
    li{
      float: left;
      cursor: pointer;
    }
  }
  .play-pause-btn{
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
    color: #bd5757;
    text-align: center;
    cursor: pointer;
    width: 2%;
    margin: 0 auto;
  }
  .left-menu{
    list-style: none;
    float: left;
    color: #FFF;
    margin:0;
    padding:0;
    font-weight: 600;
    font-size: 12px;
    li{
      float: left;
      margin-right:15px;
      cursor: pointer;
      &.selected{
        border-bottom:2px solid #bd5757 ;
      }
    }
  }
}
