.header{
  padding:8px;
  .heading{
    font-size: 20px;
    color: #FFF;
  }
}
.mid-content {
  .page-content{
    width: 100%;
    height: auto;
    position: relative;
  }
}
.footer{
  padding:8px;
  z-index: 100;
  .home-menu{
    position: absolute;
    z-index: 100;
    color: #FFF;
    bottom: 35px;
    width: 100%;
    margin:-7px;
    .sub-menu{
      border: 1px dotted #000;
      height: 160px;
      background: transparent;

      .bg-img{
        width:100%;
        height:auto;
        opacity:1;
      }
      .content{
        z-index: 100;
        height:auto;
        width:90%;
        position: absolute;
        top:0;
        left: 0;
        color: #FFF;
      }
    }
  }

  .right-menu{
    list-style: none;
    float: left;
    color: #FFF;
    margin:0;
    padding:0;
    font-weight: 600;
    font-size: 12px;
    li{
      float: left;
      cursor: pointer;
    }
  }
  .play-pause-btn{
    position: absolute;
    right: 0;
    bottom: 2px;
    left: 0;
    color: rgba(36,131,213,0.9);
    text-align: center;
    cursor: pointer;
    width: 2%;
    margin: 0 auto;
  }
  .left-menu{
    list-style: none;
    float: left;
    color: #FFF;
    margin:0;
    padding:0;
    font-weight: 600;
    font-size: 12px;
    li{
      float: left;
      margin-right:15px;
      cursor: pointer;
    }
  }
}
