/* You can add global styles to this file, and also import other style files */
$mainFontFamily: 'Saira Condensed', sans-serif !important;
$headerFontFamily: 'Sedgwick Ave Display', cursive !important;
$mainBgColor:#0d0d0d;
$smallBtnHeight:50px;
$smallBtnFontSize:25px;
$buttonBorder:1px solid #cccbcb;
