<div class="container noPadding custom-dialog">
  <div class="bar">
    <span class="meter" [style.width.%]="meterWidth"></span>
  </div>
  <div class="row qa-container">
    <div class="text-center heading">
      {{heading}}
    </div>
    <div class="text-center btn-container">
      <button type="button" class="btn btn-default" (click)="onBtnClicked('YES');">{{okbtntxt || 'YES'}}</button>
    </div>
    <div class="text-center btn-container" (click)="onBtnClicked('NO');">
      <button type="button" class="btn btn-default">{{nobtntxt || 'NO'}}</button>
    </div>
    <div class="timer">{{ticks}}</div>
  </div>
</div>
