<div class="container custom-dialog">
  <div class="row qa-container">
    <div class="text-center btn-container">
      <button type="button" class="btn btn-default" (click)="onBtnClicked('YES');">YES</button>
    </div>
    <div class="text-center btn-container" (click)="onBtnClicked('NO');">
      <button type="button" class="btn btn-default">NO</button>
    </div>
    <div class="timer">{{ticks}}</div>
    <div>
      <span class="meter" [style.width.%]="meterWidth"></span>
    </div>
  </div>
</div>
